/*****Base Styles*****/

@font-face {
  font-family: blushon;
  src: url('../font/blushon.otf') format('opentype');
}

.body {
  font-family: 'Source sans pro', sans-serif;
  color: #2b2b2b;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 10px;
}

p {
  font-size: 16px;
}

#main-photo {
  height: 400px;
}

#about {
  height: 500px;
}

#contact {
  height:350px;
}

/*****Base Styles*****/

/*****Grid*****/
.full-width {
  width: 1200px;
  margin 0 auto;
  overflow:auto;
}

.half-width {
  width: 600px;
  float:left;
}


/*****Grid*****/


/****Header****/

header {
  height: 170px;
  background-color: white;
  overflow: hidden;
}

h1 {
  padding: 25px 0 35px 25px;
}

header h1 a {
  font-family: 'Rock Salt', cursive;
  color: #424B54;
  font-size: 40px;
  text-decoration: none;
  background-color: white;

}

nav {
  float: center;
  padding: 75px 25px;
  overflow:visible;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 24px;
  color: #A4969B;
  padding-left: 70px;
}

/****Header****/

/****Body****/

#main-photo {
  background:url('../img/cowork.jpg');
  background-size: cover;
  background-position:center;
  overflow: hidden;
}

#about .full-width {
    padding: 80px 0;
}

#about h2 {
  padding-left: 140px;
  padding-top: 25px;
  font-family: 'Rock Salt', cursive;
  color: #A4969B;
}

#about p {
padding-left: 120px;
text-align: justify;
line-height: 25px;
}

#about img {
    padding: 30px 100px;
    width:350px;
    float: left;
    overflow: hidden;
}

/****** CONTACT ******/

#contact {
  background-color: #C4CAD0;
  color: #ffffff;
  overflow: hidden;
}

#contact .full-width {
    padding: 60px 0;
}

#contact img#contact-hand {
    width: 350px;
    margin-left: 85px;
    border: 8px solid #ffffff;
}

#contact .contact-info {
    line-height:44px;
    margin: 5px 0 5px 0;
}

#contact h2 {
  font-family: 'Rock Salt', cursive;
  color: #A4969B;
  text-align: left;
  padding-left: 130px;
  line-height: 34px;
  margin: 10px 0;
}

#contact p {
  float: left;
  padding-left: 100px;
  margin: 0 auto;
  line-height: 30px;
}

#contact a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

#contact #phone {
  float: left;
}

#contact h3 {
  font-family: 'Rock Salt', cursive;
  color: #A4969B;
  text-align: left;
  font-weight: 400;
  padding: 70px 0 0 70px;
}

#contact ul {
  list-style: none;
  padding-left: 130px;
}

#contact ul li {
  display: inline-flex;

}

#contact ul img {
  font-size: 32px;
  padding-right: 35px;
}

/****Body****/

/****Footer****/

footer {
  text-align: center;
  background-color: #424B54;
}

/****Footer****/
